.home {
  text-align: center;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Dashboard */
.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 40px;
  gap: 15px;
}

.side h3 {
  display: none;
}

.parent {
  text-align: center;
  background-color: white;
  padding-left: 144px;
  padding-right: 144px;
}

.twitter {
  line-height: 40px;
  background-color: #eaecf0;
  padding-bottom: 15px;
}

.twitter-link a,
.zuri-link a,
.books-link a,
.python-link a,
.background-link a,
.design-link a {
  text-decoration: none;
  color: white;
  background-color: #435477;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

.Zuri,
.Books,
.python,
.background {
  line-height: 40px;
  background-color: #eaecf0;
  padding-bottom: 15px;
  margin-top: 20px;
}
.design {
  margin-bottom: 60px;
  line-height: 40px;
  background-color: #eaecf0;
  padding-bottom: 15px;
  margin-top: 20px;
}

.dev {
  padding-bottom: 20px;
}

/* foot */
.footer {
  margin-top: auto;
  width: 100%;
  border: 1px solid transparent;
  margin-top: 64px;
}

.foot {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-left: 113px;
  padding-right: 112px;
  padding-bottom: 52px;
  padding-top: 84px;
}

/* error */
.error {
  margin-top: 200px;
  padding-left: 112px;
  min-height: 100vh;
}

.mylinks {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.link1 {
  text-decoration: none;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  text-align: center;
  display: flex;
  gap: 10px;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.link2 {
  text-decoration: none;
  background-color: #6938ef;
  color: white;
  border-radius: 8px;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  /* text-align: center; */
}
.err404 {
  /* margin-left: -280px; */
  color: #5925dc;
}

@media screen and (max-width: 900px) {
  .parent {
    text-align: center;
    background-color: white;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .foot {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 0px;
    padding-left: 5px;
    padding-right: 0px;
  }

  .error {
    margin-top: 200px;
    padding-left: 50px;
    min-height: 100vh;
  }
}
